.headerContainer {
    height: 64px;
    background-color: #0f1c53;
    display: flex;
    flex-direction: row;
}

.headerNavigation {
    height: 100%;
}

.headerNavigation a {
    text-decoration: none;
    color: #ffffff8a;
    font-size: 14px;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0px 12px;
}

a {
    text-decoration: none;
}

.headerNavigationContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    margin: 0px 12px;
    list-style-type: none;
}

.headerLogoContainer {
    background-color: #06113d;
    height: 64px;
    width: 64px;
}

.breadCombContainer {
    height: 28px;
    display: flex;
    margin: 20px 0px;
    justify-content: space-between;
    align-items: center;
}

.breadComb {
    font-size: 14px;
    letter-spacing: -0.1px;
    color: #034aff;
}

.helpTextContainer {
    height: 100%;
    background-color: #e2424d;
    display: flex;
    border-radius: 1px;
    padding: 0px 10px;
    box-shadow: 0 1px 3px 0 #00000033;
    align-items: center;
}

.helpText {
    font-weight: bold;
    font-size: 14px;
    letter-spacing: -0.1px;
    color: #ffffff;
}

.pageContainer {
    padding: 0px 16.6%;
    background-color: #f1f3f5;
    padding-bottom: 20px;
}

.productTable {
    border-collapse: collapse;
    box-shadow: 0 1px 2px 0 #00000033;
    width: 100%;
}

.productTd {
    padding: 20px 20px;
    font-size: 14px;
    text-align: left;
}

.productTr {
    height: 56px;
    width: 100%;
}

.productTr:nth-child(odd) {
    background-color: #fafafa;
}

.productTr:nth-child(even) {
    background-color: #fff;
}

.productTableHeader {
    height: 56px;
    font-size: 12px;
    text-align: left;
    font-weight: normal;
    color: #0000008a;
    background-color: #f1f3f5;
    padding: 8px 20px;
}

.editAndDelete {
    display: flex;
    height: 56px;
    justify-content: flex-end;
    align-items: center;
}

.tableIcons {
    margin-right: 24px;
    display: none;
}

.productTr:hover>.editAndDelete>.tableIcons {
    display: flex;
}

.productName {
    color: #034aff;
    font-weight: bold;
    padding: 20px 20px;
    font-size: 14px;
    text-align: left;
}

.productName:hover {
    cursor: pointer;
}

.fieldSetStyle {
    height: 52px;
    color: #0000008a;
    width: 50%;
    padding: 0px 16px;
    border: solid 1px #979797;
    display: flex;
    align-items: center;
    margin: 15px;
    justify-content: center;
}

.fieldSetLegend {
    font-size: 12px;
    padding: 0px 4px;
}

.fieldSetInput {
    margin-top: 6px;
    width: 100%;
    background-color: transparent;
    font-size: 14px;
    padding: 2px;
    height: 20px;
    border: 0px;
    outline: none;
    border: none;
}

.inputContainer {
    box-shadow: 0 1px 2px 0 #00000033;
    background-color: white;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    align-items: center;
}

.button {
    width: 80px;
    margin-right: 10px;
    height: 36px;
    padding: 10px 18px;
    border-radius: 1px;
    font-size: 14px;
    width: fit-content;
    margin: 14px 10px 14px 0px;
}

.roundButton {
    height: 52px;
    width: 52px;
    border-radius: 26px;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover, .roundButton:hover {
    cursor: pointer;
}

.footerContainer {
    width: 100%;
    position: sticky;
    bottom: 0;
    left: 0;
    background-color: white;
    height: 114px;
    box-shadow: 0 1px 2px 0 #00000033;
    display: flex;
    margin-top: 15px;
    justify-content: flex-end;
}

.uomRowContainer {
    display: flex;
    align-items: center;
}

.floatingAddButoon {
    height: 56px;
    width: 56px;
    background-color: #fb2222;
    box-shadow: 0 4px 8px 0 #00000033;
    border-radius: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    position: fixed;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
}

.horizontalDivider {
    height: 2px;
    width: 100%;
    margin: 15px 15px;
    background-color: #cccccc;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.divisionStyle {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.addMarkets {
    color: #3e74ff;
    font-size: 14px;
    text-decoration: underline;
    margin-left: 15px;
    cursor: pointer;
}

.formContainer {
    display: flex;
    margin-bottom: 30px;
}

.progressAndDpContainer {
    width: 40%;
    margin-right: 10px;
    height: fit-content;
}

.formProgress {
    box-shadow: 0 1px 2px 0 #00000033;
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 15px;
    align-items: flex-start;
}

.dpContainer {
    box-shadow: 0 1px 2px 0 #00000033;
    margin-top: 10px;
    background-color: white;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 15px;
    align-items: center;
}

.updateBtnContainer {
    width: 100%;
    margin-right: 10px;
    display: flex;
    justify-content: flex-end;
}

.empDetailFooterContainer {
    width: 100%;
    background-color: white;
    padding: 20px;
    box-shadow: 0 1px 2px 0 #00000033;
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
}

.numberTextContainer {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.numberStyle {
    color: #ff0000;
    border: 2px solid;
    border-color: #ff0000;
    height: 36px;
    width: 36px;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.formName {
    margin-left: 12px;
    color: red;
}

.verticalProgressLine {
    height: 20px;
    width: 2px;
    background-color: #ff0000;
    margin-left: 18px;
}

.dpStyle {
    height: 120px;
    width: 120px;
    background-color: red;
}

.dpNameContainer {
    height: 120px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.dpName {
    font-size: 14px;
    color: #000000de;
}

.dpUploadIcon {
    margin-top: 70px;
    height: 18px;
}